.contacts {
  width: 780px;

  @include flex;
  justify-content: space-between;
  margin-bottom: 123px;
}

.contacts__list {
  width: 278px;
  margin: 0;
}

.contacts__dt {
  margin-bottom: 7px;
  color: $black;
  font-weight: 700;

  &--address {
    margin-bottom: 8px;
  }
}

.contacts__dd {
  margin: 0;
  margin-bottom: 25px;
  color: #1a212f;
  font-size: 14px;
  font-weight: 600;

  &--address {
    margin-bottom: 14px;
    color: $black;
  }
}

.contacts__link {
  text-decoration: none;
  color: #1a212f;

  &:hover {
    text-decoration: underline;
  }
}

.contacts__map {
  width: 431px;
  height: 271px;
}
