.main-nav {
  @include flex;
  align-items: center;
}

.main-nav__list {
  max-width: 862px;
  padding: 0;
  list-style: none;

  @include flex;
  @include list;
}

.main-nav__item {
  margin-right: 68px;
  margin-bottom: 10px;

  &:last-of-type {
    margin-right: 0;
  }
}

.main-nav__link {
  font-weight: 600;
  text-decoration: none;
  color: $grey;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
