.main-nav {
  @include flex;
  align-items: center;
}

.main-nav__list {
  max-width: 862px;
  margin: 0;
  padding: 0;

  list-style: none;

  @include flex;
}

.main-nav__item {
  margin-right: 68px;
  margin-bottom: 10px;

  &:last-of-type {
    margin-right: 0;
  }
}

.main-nav__link {
  font-weight: 600;

  color: $grey;

  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

@include media-mobile-tablet {
  .main-nav {
    z-index: 2;
    left: 0;

    display: block;

    width: 100%;

    background-color: $grey-bg;
  }

  .main-nav--closed {
    display: none;
  }

  .main-nav__list {
    max-width: 100%;
  }

  .main-nav__item {
    width: 100%;
    margin: 0;
    padding: 15px 0;

    border-bottom: 1px solid $grey;

    text-align: center;

    &:first-of-type {
      border-top: 1px solid $grey;
    }
  }
}
