.slider {
  position: relative;
  right: 6px;
  margin-top: 16px;
}

.slider__img {
  display: block;
  width: 600px;
  margin-bottom: 32px;

  &--hidden {
    display: none;
  }

  &--animation {
    animation: slide;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
  }

  &--new {
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "new model";
      width: 122px;
      height: 30px;
      padding-top: 5px;
      background-color: $red;
      color: $white;
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: 0.07em;
      font-weight: 600;
      text-align: center;
    }
  }
}

@keyframes slide {
  from {
    opacity: 0.3;
  }

  50% {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

.slider__container {
  @include flex;
  align-items: center;
  justify-content: center;
}

.slider__button {
  width: 52px;
  height: 52px;
  cursor: pointer;
  border: none;
  background: url("../img/arrow.svg");

  &:hover,
  &:focus {
    outline: none;
    filter: brightness(94%);
  }

  &--previous {
    transform: rotate(180deg);
  }

  &--inactive {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}

.slider__list {
  @include list;
  @include flex;
  padding: 0 31px;
}

.slider__item {
  margin-right: 25px;
  cursor: pointer;

  &:last-of-type {
    margin-right: 0;
  }
}
