.tabs .tabs__tab--hidden {
  display: none;
}

.tabs__list {
  width: 585px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 27px;

  @include flex;
}

.tabs__item {
  width: 33.33%;
  padding: 10px 0;

  font-size: 20px;
  line-height: 27.3px;

  border: solid 1px $grey;

  cursor: pointer;
  text-align: center;
  vertical-align: center;

  &:hover,
  &:focus {
    color: $white;
    background-color: $red;
  }

  &--active {
    color: $white;
    background-color: $red;

    &:hover,
    &:focus {
      color: $white;
      background-color: $red-hover;
    }
  }
}

@include media-tablet {
  .tabs__list {
    margin-bottom: 0;
  }
}

@include media-mobile {
  .tabs__limiter {
    overflow-x: scroll;

    width: 100%;

    scrollbar-width: none;
  }

  .tabs__list {
    overflow: hidden;

    margin-bottom: 0;
  }
}
