$grey: #48494d;
$grey-t: rgba(72,73,77,0.5);
$grey-bg: #f5f5f9;
$red: #d12136;
$white: #ffffff;
$widthMobile: 360px;
$widthTablet: 768px;
$widthDesktop: 1024px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$opensans: "OpenSans", "Arial", sans-serif;
